<hr><hr>

{% assign mainURL = "http://lfla.org.s147445.gridserver.com/" %}

<div id="footer-modules" class="gridlock">
  <div class="row">

    <div class="desktop-6 mobile-3 tablet-6 module sizer-item become-a-member">
      <div class="row">
        <div class="max-6 desktop-6 tablet-2 mobile-1"><a href="{{ mainURL }}/support-us/become-a-member/"><img src="http://lfla.org.s147445.gridserver.com/wp-content/uploads/maguire-gardens-600x335.jpg" alt="" class="img-responsive alignleft" /></a></div>
        <div class="max-6 desktop-6 tablet-4 mobile-2 padded">
          <div class="inner">
            <h3 class="footer-module-title"><a href="{{ mainURL }}/support-us/become-a-member/">Become a Member</a></h3>
            <p>Join a community of Los Angeles Public Library supporters.</p>
            <a href="{{ mainURL }}/support-us/become-a-member/" class="button">Learn More</a>
          </div>
        </div>
      </div>
    </div>



    <div class="desktop-6 mobile-3 tablet-6 module sizer-item about">
      <div class="row">
        <div class="max-6 desktop-6 tablet-2 mobile-1"><a href="{{ mainURL }}/about/"><img src="http://lfla.org.s147445.gridserver.com/wp-content/uploads/about-600x335.jpg" alt="" class="img-responsive alignleft" /></a></div>
        <div class="max-6 desktop-6 tablet-4 mobile-2 padded">
          <div class="inner">
            <h3 class="footer-module-title"><a href="{{ mainURL }}/about/">About Us</a></h3>
            <p>Learn more about the Library Foundation.</p>
            <a href="{{ mainURL }}/about/" class="button">Learn More</a>
          </div>
        </div>
      </div>
    </div>



    <div class="desktop-6 mobile-3 tablet-6 module sizer-item library-store">
      <div class="row">
        <div class="max-6 desktop-6 tablet-2 mobile-1"><a href="{{ mainURL }}/library-store/"><img src="http://lfla.org.s147445.gridserver.com/wp-content/uploads/event-detail-1082-Chang8-1279-600x335.jpg" alt="" class="img-responsive alignleft" /></a></div>
        <div class="max-6 desktop-6 tablet-4 mobile-2 padded">
          <div class="inner">
            <h3 class="footer-module-title"><a href="{{ mainURL }}/library-store/">The Library Store</a></h3>
            <p>Shop our collection of literary gifts and goods.</p>
            <a href="{{ mainURL }}/library-store/" class="button">Learn More</a>
          </div>
        </div>
      </div>
    </div>



    <div class="desktop-6 mobile-3 tablet-6 module sizer-item what-we-fund">
      <div class="row">
        <div class="max-6 desktop-6 tablet-2 mobile-1"><a href="{{ mainURL }}/what-we-fund/"><img src="http://lfla.org.s147445.gridserver.com/wp-content/uploads/Student-Zones1-600x335.jpg" alt="" class="img-responsive alignleft" /></a></div>
        <div class="max-6 desktop-6 tablet-4 mobile-2 padded">
          <div class="inner">
            <h3 class="footer-module-title"><a href="{{ mainURL }}/what-we-fund/">What We Fund</a></h3>
            <p>Enriching the programs of the Los Angeles Public Library.</p>
            <a href="{{ mainURL }}/what-we-fund/" class="button">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Old stuff -->

  </div>
</div>


<footer id="foot" class="gridlock">
  <div class="row">
    <div class="desktop-3 tablet-3 mobile-3"><a class="logo" href="{{ mainURL }}">The Library Foundation<br>of Los Angeles</a></div>
    <div class="desktop-3 tablet-3 mobile-3"><p>630 West 5th Street<br />Los Angeles, CA 90071</p></div>
    <div class="desktop-3 tablet-3 mobile-3"><p>(213) 228-7500<br /><a href="mailto:info@lfla.org">info@lfla.org</a></p></div>
    <div class="desktop-3 tablet-3 mobile-3"><ul class="social-links">
    <li><a href="https://www.facebook.com/LibraryFoundLA"><i class="ss-icon ss-social-circle">Facebook</i></a></li>
    <li><a href="https://twitter.com/libraryfoundla"><i class="ss-icon ss-social-circle">Twitter</i></a></li>
    <li><a href="http://instagram.com/libraryfoundla"><i class="ss-icon ss-social-circle">Instagram</i></a></li>
    <li><a href="https://www.flickr.com/photos/89625359@N08/sets/"><i class="ss-icon ss-social-circle">flickr</i></a></li>
    </ul>
  </div>
    <hr style="height:1px; background:#ddd;" class="desktop-12 tablet-6 mobile-3">
    <div class="desktop-12">
      © 2015 Library Foundation of Los Angeles |
      <a href="{{ mainURL }}contact/">Contact Us</a>
    </div>
  </div>
</footer><!--Footer-->