<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

  {% if product.compare_at_price > product.price %}
  <p id="ComparePrice">{{ 'products.product.compare_at' | t }} {{ product.compare_at_price_max | money }}</p>
  {% endif %}

  <select name="id" id="productSelect" class="product-single__variants">
    {% for variant in product.variants %}
    {% if variant.available %}
    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} -{{ variant.price | money_with_currency }}</option>
    {% else %}
    <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
    {% endif %}
    {% endfor %}
  </select>
  <hr class="invisible">
  <!--<label class="button hollow noborder" for="Quantity" class="quantity-selector">QTY</label>-->
  <!--<input type="number" id="Quantity" name="quantity" value="1" min="1" class="button hollow quantity-selector">-->
  <button type="submit" name="add" id="AddToCart" class="button hollow"><span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span></button>
  <span class="button hollow noborder">Share
    <a target="blank" href="https://www.facebook.com/sharer/sharer.php?u={{ product.url }}" class="social-link"><i class="ss-icon ss-social-circle">Facebook</i></a>
    <a target="blank" href="https://twitter.com/home?status={{ product.title }} } | {{ product.url }}" class="social-link"><i class="ss-icon ss-social-circle">Twitter</i></a>
    <a target="blank" href="https://pinterest.com/pin/create/button/?url={{ product.url }}&media={{ product.featured_image.src | img_url: 'grande' }}" class="social-link"><i class="ss-icon ss-social-circle">Pinterest</i></a>
    <!--<a href="https://www.pinterest.com/pin/create/button/?url={{ product.url }}&media={{ product.featured_image.src | img_url: 'grande' }}&description={{ product.title }} | {{ product.description }}" data-pin-config="above" class="social-link"></a>-->
  </span>
</form>


