<div id="product-info">

  <div class="row">
    <div  class="desktop-6 tablet-3 mobile-3 left">
      <div class="cat"><a href="/">Shop</a> /
        {% for collection in product.collections %}
        <a href="{{ collection.url }}">
          {{ collection.title }}<span>, </span>
        </a>
        {% endfor %}</div>
        <h1 class="title" itemprop="name">{{ product.title }}</h1>
        <span id="ProductPrice" class="h2{% if product.compare_at_price > product.price %} on-sale{% endif %}" itemprop="price">
          {{ product.price | money }}
        </span>
        <div class="desc" itemprop="description">{{ product.description | truncatewords: 15 | strip_html }}<a href="#readmore" class="popup">Read More</a></div>
        <div class="pricing" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% assign variant = product.selected_or_first_available_variant %}
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          {% include 'product-purchase-form' %}
        </div>
        {% include 'product-additional' %}
      </div><!-- Product Info -->
    </div>
  </div>

  <div id="product" class="{{ product.handle }} entry gridlock-fluid" itemscope itemtype="http://schema.org/Product">
    <div class="row">
      <div class="desktop-12 tablet-6 mobile-3 contained">
        <div class="row">
          <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
          <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
          <div id="product-images" class="desktop-6 tablet-3 mobile-3 right contained">
            <div id="product-slideshow" class="rsMinW">
              {% if product.featured_image.size > 0 %}
              {% for image in product.images %}
              <figure itemscope itemtype="http://schema.org/ImageObject">
                <a href="{{ image.src | img_url: '2048x2048' }}" itemprop="contentUrl" data-size="2048x2048">
                  <img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}" class="img-responsive">
                </a>
              </figure>
              {% endfor %}
              {% else %}
              <figure itemscope itemtype="http://schema.org/ImageObject">
                <img src="{{ 'fakeimg.jpg' | asset_url }}" alt=""  />
              </figure>
              {% endif %}
            </div>
          </div><!-- Product Images -->
          <script>
          var selectCallback = function(variant, selector) {
            timber.productPage({
              money_format: "{{ shop.money_format }}",
              variant: variant,
              selector: selector
            });
          };

          jQuery(function($) {
            new Shopify.OptionSelectors('productSelect', {
              product: {{ product | json }},
              onVariantSelected: selectCallback,
              enableHistoryState: true
            });

            // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
            {% if product.options.size == 1 and product.options.first != 'Title' %}
            $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
            {% endif %}

            // Hide selectors if we only have 1 variant and its title contains 'Default'.
            {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
            $('.selector-wrapper').hide();
            {% endif %}
          });
          </script>
        </div>
      </div>
    </div>
  </div>

  <div id="readmore" class="mfp-hide white-popup-block modal-window zoom-anim-dialog">
    <div class="cat"><a href="/">Shop</a> / {% for collection in product.collections %}{{ collection.title }}{% endfor %}</div>
    <h1 class="title" itemprop="name">{{ product.title }}</h1>
    {{ product.description }}
  </div>

  <div id="store-intro" class="row">
    <div class="desktop-6 tablet-4 mobile-3 centered text-center">
      <p>You might also like these products from<br>The Library Store.</p>
    </div>
  </div>

  <div id="store-collections">
    <div class="row">
      {% for collection in collections %}
      <a href="{{ collection.url }}" class="collection-item desktop-4 tablet-3 mobile-3 text-center">
        <img src="{{ collection.image.src | img_url: 'grande' }}" alt="{{ collection.title }}" class="img-responsive" />
        <h3 class="title">{{ collection.title }}</h3>
      </a>
      {% endfor %}
    </div>
  </div>
